.about {
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
    background: linear-gradient(180deg, #000016 0%, #3d44fb 100%);

    &__container {
        position: relative;
    }

    &__content {
        position: relative;
        width: 100%;
        overflow: hidden;

        &-bg {
            display: inline-block;
            position: absolute;
            bottom: 23%;
            left: 50%;
            transform: translate(-50%, 50%);

            font-family: var(--second-family);
            font-weight: 700;
            font-size: 453px;
            text-transform: uppercase;
            color: rgba(61, 68, 251, 0.06);
            // width: 90%;
        }
    }

    &__title {
        font-family: var(--second-family);
        text-transform: uppercase;
        @include fluid-text(83, 24);
        font-weight: 700;
        margin-bottom: 58px;
        position: relative;
        z-index: 10;

        & .one{
            display: inline-block;
            transform: rotate(16deg);
        }

        & .two{
            display: inline-block;
            transform: rotate(35deg);
        }
    }

    &__text {
        font-family: var(--third-family);
        @include fluid-text(32, 24);
        margin-bottom: 100px;
        position: relative;
        z-index: 10
    }

}