.footer {
    background-color: var(--color-black);
    color: var(--color-light);
    padding-top: 80px;
    padding-bottom: 60px;

    &__container {
        position: relative;
    }

    &__bottom {
        margin-top: 66px;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }

    &__text {
        font-family: var(--font-family);
        font-weight: 500;
        @include fluid-text(22, 16);
        text-transform: uppercase;
    }

    &__list {
        display: flex;
        align-items: center;
        gap: 18px;
    }

    &__item {
        position: relative;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: #fff;
        cursor: pointer;

    }

    &__link {
        & img {
            @include fluid-block(45, 32);
            position: relative;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                transform: translate(-50%, -50%);

                width: 20px;
                height: 20px;
                background: #fff;
            }
        }
    }
}