// Стили для секции hero
.hero {
    position: relative;
    overflow: hidden;
    padding-top: 30px;
    padding-bottom: 50px;

    @include mobile {
        // padding-bottom: 100px;
    }

    &__content {
        position: relative;
        padding-top: 100px;
        background: linear-gradient(
            180deg,
            #000016 0%,
            #3d44fb 67.48%,
            #3035c1 100%
        );
        border-radius: 36px;
        padding: 50px 63px 0;
        overflow: hidden;

        @include mobile {
            flex-direction: column;
            align-items: flex-start;
            padding-bottom: 50px;
        }

        @include mobile {
            padding: 25px 25px;
        }
    }

    &__cub {
        position: absolute;
        bottom: 0%;
        left: 0%;
        position: 1;

        @include mobile {
            bottom: 10%;
        }
    }

    &__logo {
        position: absolute;
        top: 10%;
        left: 26%;
        // transform: translate(-50%, -50%);
        z-index: 10;
        width: 60%;
    }

    &__left {
        position: relative;
        z-index: 10;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;

        margin-bottom: 60px;

        @include mobile {
            grid-template-columns: repeat(1, 1fr);
            margin-bottom: 20px;
        }
    }

    &__title {
        font-weight: 500;
        text-transform: uppercase;
        @include fluid-text(48, 24);
        // font-size: 75px;
        letter-spacing: 0.04em;
        color: var(--color-light);
        position: relative;
        z-index: 10;

        &-pixle {
            font-family: var(--font3);
            @include fluid-text(26, 14);
        }

        &-right {
            margin-left: 150px;
            @include mobile-s {
                margin-left: 0;
            }
        }
    }

    &__block {
        text-align: justify;
        margin-bottom: -1em !important;

        &:after {
            content: "";
            display: inline-block;
            width: 100%;
        }
    }

    &__text {
        font-family: var(--second-family);
        font-weight: 700;
        // font-size: 215px;
        @include fluid-text(132, 30);
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: rgba(255, 255, 255, 0.48);
        position: relative;
        z-index: 7;
    }

    &__btns {
        margin-left: auto;

        @include mobile {
            margin-left: 0;
            margin-top: 20px;
        }
    }

    &__btn {
        cursor: pointer;
        font-family: var(--font-family);
        font-weight: 700;
        @include fluid-text(25, 15);
        text-transform: uppercase;
        color: var(--color-dark);
        text-shadow: 0 0 7px 0 #464cff;
        background: var(--color-light);
        text-decoration: none;
        white-space: nowrap;
        border-radius: 34px;

        position: relative; // важно для ::before
        display: inline-flex;
        align-items: center;
        justify-content: space-between;

        transition:
            transform 0.2s ease,
            filter 0.2s ease;

        // Картинка всегда точно по размеру кнопки
        &::before {
            content: "";
            position: absolute;
            inset: 0; // top/right/bottom/left: 0
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 100% 100%;
            z-index: 0;
        }

        // Весь контент поверх картинки
        span,
        img {
            position: relative;
            z-index: 1;
        }

        img {
            background: var(--color-blue);
            padding: 15px;
            border-radius: 7px;
            @include mobile {
                padding: 10px;
                width: 20%;
            }
        }

        span {
            padding: 20px;
            background: linear-gradient(90deg, #0a12e8 0%, #181c81 100%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            @include mobile {
                padding: 10px;
            }
        }

        &:hover {
            transform: scale(1.03);
            filter: brightness(1.2);
        }

        &:active {
            transform: scale(0.98);
        }
    }
}
