// .modal {
//     position: fixed;
//     inset: 0;
//     display: none;
//     z-index: 1000;
// }

.modal {
    position: fixed;
    inset: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1000;

    opacity: 0;
    pointer-events: none;
    transition: 0.3s;
}

.modal.active {
    opacity: 1;
    pointer-events: all;
    padding: 0 20px;
}

.modal__overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
}

// .modal__content {
//     position: relative;
//     max-width: 600px;
//     margin: 50px auto;
//     background: #fff;
//     padding: 30px;
//     border-radius: 10px;
//     max-height: 90vh;
//     overflow-y: auto;
// }

.modal__content {
    position: relative;
    width: fit-content;
    max-width: 60vw;
    padding: 60px;

    box-shadow: 0 4px 27px 19px rgba(0, 0, 0, 0.25);
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.95) 0%,
        rgba(77, 83, 240, 0.95) 100%
    );
    border-radius: 40px;
    border: 2px solid var(--color-light);

    max-height: 90vh;
    overflow-y: hidden;

    @include tablet {
        padding: 50px;
        max-width: 100%;
    }

    @include mobile {
        padding: 25px;
    }
}

.modal__close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 28px;
    border: none;
    background: none;
    cursor: pointer;
    color: var(--color-);
    z-index: 100 !important;
}

body.modal-open {
    overflow: hidden;
}

.modal__title {
    position: relative;
    z-index: 2;
    font-family: var(--font3);
    font-weight: 500;
    font-size: 64px;
    @include fluid-text(32, 14);
    text-transform: uppercase;
    color: var(--color-light);
}

.modal__text {
    position: relative;
    z-index: 2;
    margin-top: 50px;
    font-family: var(--third-family);
    font-weight: 400;
    // font-size: 48px;
    @include fluid-text(24, 12);
    line-height: 105%;
    letter-spacing: 0.1em;
    color: #fff;

    p {
        display: inline-block;
        // max-width: 60%;
    }
}
.modal__content-img {
    width: 70%;
    height: auto;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;

    &-two{
        // width: 40%;
    }

    &-three {
        // width: 40%;
    }

    &-four {
        left: 0;
    }
}

.modal__btns {
    position: relative;
    z-index: 2;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include tablet {
        margin-top: 50px;
    }

    @include mobile {
        flex-direction: column;
        text-align: left;
        margin-top: 20px;
    }
}

.modal__preza {
    background-image: url("../img/services/btn.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;

    position: relative;
    column-gap: 20px;
    padding: 37px 40px 45px;
    border-radius: 70px;
    text-transform: uppercase;
    @include fluid-text(16, 10);
}

.modal__active {
    font-family: var(--font3);
    font-weight: 500;
    @include fluid-text(10, 8);
    text-transform: uppercase;
    color: var(--color-dark);

    box-shadow: -5px 6px 14px 0 rgba(0, 0, 0, 0.48);
    background: #fff;
    border-radius: 95px;
    padding: 10px 20px;
    cursor: pointer;
    background: linear-gradient(180deg, #99abcb 0%, #fff 28.85%, #f8fbff 60.58%, #86b0ff 100%);
}
