.priorities {
    background: linear-gradient(180deg, #3d44fb 0%, #000016 100%);
    overflow: hidden;
    &__content {
        padding-top: 50px;
        padding-bottom: 140px;
        position: relative;
        overflow: visvble;
    }

    &__title {
        text-align: right;
        font-family: var(--font-family);
        font-weight: 400;
        @include fluid-text(64, 32);
        text-transform: uppercase;
        margin-bottom: 60px;

        & .one {
            display: inline-block;
            transform: rotate(35deg);
        }

        & .two {
            display: inline-block;
            transform: rotate(-18deg);
        }
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: stretch;
        gap: 42px;

        @include mobile {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    &__item {
        border-radius: 42px;
        background-color: var(--color-light);
        color: var(--color-black);
        padding: 40px;

        display: flex;
        flex-direction: column;
        align-items: stretch;

        position: relative;

        &-bg {
            position: absolute;
            transform: translate(-50%, -50%);
            z-index: 1;
            &-1 {
                top: 0%;
                left: 15%;
                width: 40%;
                height: auto;

                @include mobile {
                    top: 0%;
                    left: 5%;
                    width: 15%;
                }

                @include mobile-s {
                    top: 10%;
                    left: 10%;
                    width: 15%;
                }
            }

            &-2 {
                bottom: -70%;
                right: -30%;
                width: 40%;
                height: auto;

                @include mobile {
                    right: -10%;
                    width: 15%;
                }

                @include mobile-s {
                    bottom: -25%;
                    right: -10%;
                    width: 15%;
                }
            }

            &-3 {
                top: 0%;
                right: -30%;
                width: 35%;
                height: auto;
                @include mobile {
                    top: 33%;
                    right: -8%;
                    width: 15%;
                }

                @include mobile {
                    top: 10%;
                }
            }
        }

        &-title {
            font-family: var(--font-family);
            font-weight: 400;
            @include fluid-text(24, 18);
            text-transform: uppercase;
            margin-bottom: 30px;
            position: relative;
            z-index: 9;
            white-space: nowrap;
        }

        &-text {
            font-family: var(--third-family);
            font-weight: 400;
            @include fluid-text(16, 12);
            position: relative;
            z-index: 9;
        }
    }
}
