.services {
    padding-top: 200px;
    padding-bottom: 120px;
    position: relative;

    @include mobile {
        padding-top: 50px;
    }

    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &__content {
        position: relative;
    }

    &__title {
        font-family: var(--font-family);
        font-weight: 500;
        @include fluid-text(65, 18);
        text-transform: uppercase;
        position: relative;

        span {
            font-family: var(--font3);
            font-weight: 500;
            @include fluid-text(34, 18);
            text-transform: uppercase;
        }

        &-bg {
            position: absolute;
            transform: translate(-50%, -50%);
            top: 0%;
            left: 73%;

            @include mobile {
                top: 0%;
                right: -10%;
            }
        }

        @include mobile {
            flex-direction: column;
            gap: 10px;
        }
    }

    &__text {
        font-family: var(--font-family);
        font-weight: 500;
        @include fluid-text(24, 18);
        text-transform: uppercase;
        margin-top: 20px;
        max-width: 70%;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        // grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;

        margin-top: 60px;
        position: relative;

        &-bg {
            position: absolute;
            z-index: 9;
            top: -10%;
            right: 10%;

            @include mobile {
                width: 20%;
            }
        }

        @include mobile-s {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    &__item {
        position: relative;
        // cursor: pointer;
        transition: all ease-in-out 0.3s;

        &:hover {
            transform: scale(1.02);
        }

        &-btn {
            // background: linear-gradient(180deg, #000016 0%, #4f56ff 67.48%, #3b42f4 100%);
            background-image: url("../img/services/square.svg");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            width: 70px;
            height: 70px;

            position: absolute;
            z-index: 9;
            // border-radius: 24px;
            transform: translate(-50%, -50%);
            top: 70px;
            right: 10px;
            transition: all ease-in-out 0.3s;

            cursor: pointer;
            &:hover {
                width: 80px;
                height: 80px;
            }

            @include mobile {
                width: 50px;
                height: 50px;
                top: 25%;
                right: 0%;
            }
        }

        &-next {
            background: none;
            border: none;
            // padding: 30px 25px;
            position: absolute;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
            cursor: pointer;
        }

        &-bg {
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        &-title {
            display: inline-block;
            font-family: var(--font3);
            font-weight: 500;
            @include fluid-text(24, 16);
            text-transform: uppercase;
            margin-top: 180px;
            margin-left: 40px;
            margin-bottom: 30px;
            position: relative;
            z-index: 9;
            width: 50%;

            @include mobile {
                margin-top: 100px;
            }
        }

        &-one {
            grid-area: 1 / 1 / 2 / 3;
            @include mobile {
                grid-area: 1 / 1 / 2 / 6;
            }
            @include mobile-s {
                grid-area: auto;
            }
        }

        &-two {
            grid-area: 1 / 3 / 2 / 6;
            line-height: 40px;
            @include mobile {
                grid-area: 2 / 1 / 3 / 6;
            }
            @include mobile-s {
                grid-area: auto;
            }
        }

        &-three {
            grid-area: 2 / 1 / 3 / 4;
            color: var(--color-dark);

            &-bg {
                position: absolute;
                z-index: 9;
                top: 20%;
                right: 15%;

                @include mobile {
                    width: 20%;
                }
            }
            @include mobile {
                grid-area: 3 / 1 / 4 / 6;
            }
            @include mobile-s {
                grid-area: auto;
            }
        }

        &-four {
            grid-area: 2 / 4 / 3 / 6;
            @include mobile {
                grid-area: 4 / 1 / 5 / 6;
            }
            @include mobile-s {
                grid-area: auto;
            }
        }

        &-five {
            grid-area: 3 / 1 / 4 / 6;
            line-height: 40px;
            position: relative;
            z-index: 2;
            @include mobile {
                grid-area: 5 / 1 / 6 / 6;
            }
            @include mobile-s {
                grid-area: auto;
            }
        }
    }

    &__form {
        position: relative;
        z-index: 10;
        padding: 30px 40px;

        display: flex;
        align-items: flex-end;
        // column-gap: 100px;

        @include mobile {
            flex-direction: column;
            row-gap: 20px;
        }

        &-grid {
            display: flex;
            flex-direction: column;
            gap: 20px;
            margin-top: 30px;
        }

        &-group {
            & input {
                border-radius: 95px;
                padding-left: 20px;
                border: none;
                padding-top: 5px;
                padding-bottom: 5px;
                width: 50%;
                @include mobile {
                    width: 100%;
                }
            }
        }

        &-title {
            font-family: var(--font-family);
            font-weight: 700;
            // font-size: 90px;
            @include fluid-text(60, 45);
            line-height: 103%;
            text-transform: uppercase;
        }

        &-left {
            display: inline-block;
            width: 100%;
        }

        &-right {
            width: 100%;
        }

        &-radio-group {
            display: inline-block;
            // margin: 20px;
            border-radius: 10px;
            overflow: hidden;

            display: grid;
            grid-template-columns: repeat(2, 1fr);
            align-items: center;
            gap: 20px;

            & input[type="radio"] {
                position: absolute;
                visibility: hidden;
                display: none;
            }

            & label {
                color: var(--color-dark);
                background: var(--color-light);
                display: inline-block;
                cursor: pointer;
                font-weight: bold;
                padding: 15px 20px;
                text-align: center;
                font-family: var(--third-family);
                font-weight: 400;
                // font-size: 35px;
                @include fluid-text(20, 10);
                text-transform: uppercase;
                border-radius: 95px;
            }

            & input[type="radio"]:checked + label {
                color: var(--color-dark);
                background: var(--color-light);
                border: solid 5px var(--color-accent-light);
            }

            & label + input[type="radio"] + label {
                border: solid 1px var(--color-light);
                width: 100%;
            }
        }

        &-bottom {
            margin-top: 40px;
        }

        &-button {
            width: 100%;
            border-radius: 70px;
            box-shadow: 0 0 6px 4px #8c9df4;
            background: var(--color-accent-light);

            font-family: var(--font3);
            font-weight: 500;
            // font-size: 20px;
            padding: 10px;
            @include fluid-text(12, 10);
            text-transform: uppercase;
            color: var(--color-light);
        }
    }
}
