.slider {
    // background: linear-gradient(180deg, #000016 0%, #3d44fb 100%);
    background: radial-gradient(55.72% 55.72% at 50% 50%,
            #4d53f2 0%,
            #000016 100%);
    padding-top: 100px;
    padding-bottom: 30px;
    overflow: hidden;

    &__container {
        position: relative;
        // background: radial-gradient(
        //     55.72% 55.72% at 50% 50%,
        //     #4d53f2 0%,
        //     #000016 100%
        // );
        overflow: visible;
    }

    &__content {
        position: relative;

        &-bg {
            position: absolute;
            transform: translate(-50%, -50%);

            &-one {
                bottom: -15%;
                left: 11%;
            }

            &-two {
                top: 10%;
                right: -30%;
            }
        }
    }

    &__title {
        font-family: var(--second-family);
        font-weight: 700;
        @include fluid-text(64, 24);
        text-transform: uppercase;
        position: relative;

        img {
            width: 150px;
            height: auto;
            position: absolute;
            top: 20%;
            left: 5%;
            transform: translate(-50%, -50%);
        }

        h2 {
            position: relative;
            z-index: 10;
        }
    }

    &__text {
        font-family: var(--font-family);
        font-weight: 500;
        @include fluid-text(18, 14);
        text-transform: uppercase;

        &-second {
            text-align: right;
        }
    }

    &__lists {
        position: relative;
    }

    &__list {
        position: relative;
        z-index: 5;

        .slick-list {
            padding: 75px 0 !important;

            @include mobile {
                padding: 30px 0 !important;
            }
        }

        .slick-slide {
            transform: scale(0.8);

            @include mobile {
                transform: scale(1);
            }
        }

        .slick-center {
            transform: scale(1.1);

            @include mobile {
                transform: scale(1);
            }
        }
    }

    &__item {
        position: relative;

        &.bg-liquid-glass {
            border-radius: 78px;
        }

        &-dekor {
            position: absolute;
            top: 0;
            right: 0;
            width: 150px;
            height: 50px;
            border-radius: 39px;
            background: var(--color-light);
            transform: translate(0%, -50%);
        }

        &-content {
            border-radius: 78px;
            padding: 40px 30px 30px;
            background: linear-gradient(180deg,
                    rgba(36, 41, 149, 0) 0%,
                    #0b0d2f 67.31%);
            // margin-left: 20px;
            // margin-right: 20px;
            transform: scale(1);
            border: 5px solid var(--color-light);
            text-align: center;

            position: relative;
        }

        &-title {
            @include fluid-text(48, 14);
            font-family: var(--font-family-bold);
            font-weight: 700;
            line-height: 110%;
            text-transform: uppercase;
            color: var(--color-light);
            // margin-bottom: 125px;
            // margin-bottom: 3em;
        }

        &-img {
            margin: 0 auto;
            width: 150px;
            height: 150px;
            object-fit: cover;
            display: flex;
            align-items: center;

            img {
                margin: 0 auto;
            }

        }

        &-text {
            @include fluid-text(15, 8);
            font-family: var(--font-family);
            font-weight: 500;
            text-transform: capitalize;
            margin-bottom: 20px;
        }

        &-button {
            text-align: center;
        }

        &-btn {
            padding: 40px 20px 40px 40px;
            text-align: center;
            font-family: var(--font-family);
            font-weight: 500;
            @include fluid-text(18, 11);
            text-transform: uppercase;
            color: var(--color-light);
            box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.25);
            background: rgba(255, 255, 255, 0.1);
            border-radius: 77px;
            width: 100%;

            display: flex;
            align-items: center;
            justify-content: space-between;
            column-gap: 20px;

            img {
                width: 15%;
            }
        }
    }

    .slick-active {
        @include mobile-above {
            &:not(.slick-center) .slider__item-content {
                background: var(--color-bg-item);
                background-image: url("../img/slider/circle-second.png");
                background-repeat: no-repeat;
                background-size: 50%;
                background-position: 100% 0;
            }

            &:not(.slick-center) .slider__item-title {
                color: var(--color-title-second);
            }

            &:not(.slick-center) .slider__item-text {
                color: var(--color-title-second);
            }
        }
    }

    // ПАРТНЕРЫ
    &__nav {
        margin-top: 20px;

        &-img {
            background: #000;
            width: 150px;
            height: 150px;
            border-radius: 50%;
        }

        &-item {
            display: flex !important;
            justify-content: center;
            align-items: center;
            outline: none;

            & img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
                object-fit: contain;
                cursor: pointer;
                // opacity: 0.5;
                transition:
                    opacity 0.3s ease,
                    transform 0.3s ease;
            }

            &.is-far {
                transform: scale(.6);
            }

            &.is-near {
                transform: scale(.8);
            }

            &.slick-center {
                opacity: 1;
                transform: scale(1);
            }
        }
    }
}