.slider {
    // background: linear-gradient(180deg, #000016 0%, #3d44fb 100%);
    background: radial-gradient(55.72% 55.72% at 50% 50%,
            #4d53f2 0%,
            #000016 100%);
    padding-top: 100px;
    padding-bottom: 30px;
    overflow: hidden;

    &__container {
        position: relative;
        // background: radial-gradient(
        //     55.72% 55.72% at 50% 50%,
        //     #4d53f2 0%,
        //     #000016 100%
        // );
        overflow: visible;
    }

    &__content {
        position: relative;

        &-bg {
            position: absolute;
            transform: translate(-50%, -50%);

            &-one {
                bottom: -15%;
                left: 11%;
            }

            &-two {
                top: 10%;
                right: -30%;
            }
        }
    }

    &__title {
        position: relative;
        z-index: 9;

        img {
            width: 150px;
            height: auto;
            position: absolute;
            top: 20%;
            left: 5%;
            transform: translate(-50%, -50%);
        }

        h2 {
            font-family: var(--font-family);
            font-weight: 500;
            @include fluid-text(64, 32);
            text-transform: uppercase;
            position: relative;
            z-index: 10;
        }
    }

    &__text {
        font-family: var(--font-family);
        font-weight: 500;
        @include fluid-text(18, 14);
        text-transform: uppercase;

        &-second {
            text-align: right;
        }
    }

    &__lists {
        position: relative;
    }

    &__list {
        position: relative;
        z-index: 5;

        .slick-list {
            padding: 75px 0 !important;

            @include mobile {
                padding: 30px 0 !important;
            }
        }

        .slick-slide {
            transform: scale(0.8);

            @include mobile {
                transform: scale(1);
            }
        }

        .slick-center {
            transform: scale(1.1);

            @include mobile {
                transform: scale(1);
            }
        }
    }

    &__item {
        position: relative;
        height: 100%;

        &.bg-liquid-glass {
            border-radius: 78px;
        }

        &-content {
            border-radius: 78px;
            padding: 40px 30px 40px;
            background: linear-gradient(180deg, rgba(36, 41, 149, 0) 0%, #0b0d2f 67.31%);
            border: 5px solid var(--color-light);
            text-align: center;
            box-sizing: border-box;
            height: 400px; // фиксированная высота

            display: flex;
            flex-direction: column; // flexbox проще грида здесь
        }

        &-info {
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-shrink: 0;
            gap: 8px;
        }

        &-title {
            @include fluid-text(46, 40);
            font-family: var(--font-family-bold);
            font-weight: 700;
            line-height: 110%;
            text-transform: uppercase;
            color: var(--color-light);
        }

        &-text {
            @include fluid-text(15, 12);
            font-family: var(--font-family);
            font-weight: 500;
            text-transform: capitalize;
        }

        &-img {
            overflow: hidden;
            padding: 40px 0 0;
            min-height: 130px; // фиксированная высота блока
            height: 190px;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        &-btn {
            white-space: nowrap;
            flex-shrink: 0; // не сжимается
            margin-top: 20px;
            padding: 20px 20px 20px 40px;
            font-family: var(--font-family);
            font-weight: 500;
            @include fluid-text(16, 11);
            text-transform: uppercase;
            color: var(--color-light);
            box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.25);
            background: rgba(255, 255, 255, 0.1);
            border-radius: 77px;
            width: 100%;
            display: flex;
            align-items: center;
            column-gap: 20px;

            background-image: url(../img/case/btn.png);
            background-repeat: no-repeat;
            background-size: 100%;
            background-position: center;

            @include mobile {

                padding: 30px 20px 30px 40px;
            }

            img {
                width: 12%;
                object-fit: contain;
            }
        }
    }

    .slick-center>.slider__item-dekor {
        display: none;
    }

    .slick-active {
        @include mobile-above {

            &:not(.slick-center) .slider__item-btn {
                display: none;
                height: 0;
            }

            &:not(.slick-center) .slider__item-title {
                color: var(--color-title-second);
            }

            &:not(.slick-center) .slider__item-text {
                color: var(--color-title-second);
            }
        }
    }

    // ПАРТНЕРЫ
    &__nav {
        margin-top: 20px;
        max-width: 700px;
        text-align: center;
        margin: 0 auto;

        &-img {
            background: #000;
            width: 100px;
            height: 100px;
            border-radius: 50%;
        }

        &-item {
            display: flex !important;
            justify-content: center;
            align-items: center;
            outline: none;
            width: 100px;
            height: 100px;

            & img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
                object-fit: contain;
                cursor: pointer;
                // opacity: 0.5;
                transition:
                    opacity 0.3s ease,
                    transform 0.3s ease;
            }

            &.is-far {
                transform: scale(0.6);
            }

            &.is-near {
                transform: scale(0.8);
            }

            &.slick-center {
                opacity: 1;
                transform: scale(1);
            }
        }
    }
}