.slider {
    background: linear-gradient(180deg, #000016 0%, #3d44fb 100%);
    padding-top: 100px;
    padding-bottom: 30px;
    overflow: hidden;

    &__container {
        position: relative;
    }

    &__content {
        position: relative;
    }

    &__title {
        font-family: var(--second-family);
        font-weight: 700;
        @include fluid-text(83, 24);
        text-transform: uppercase;
    }

    &__text {
        font-family: var(--font-family);
        font-weight: 500;
        @include fluid-text(22, 14);
        text-transform: uppercase;
    }

    &__list {
        position: relative;
        z-index: 5;

        .slick-list {
            padding: 75px 0 !important;

            @include mobile {
                padding: 30px 0 !important;
            }
        }

        .slick-slide {
            transform: scale(0.8);

            @include mobile {
                transform: scale(1);
            }
        }

        .slick-center {
            transform: scale(1.1);

            @include mobile {
                transform: scale(1);
            }
        }


    }

    &__item {
        position: relative;


        &-content {
            border-radius: 78px;
            padding: 110px 50px 50px;
            background: linear-gradient(180deg, rgba(36, 41, 149, 0) 0%, #0b0d2f 67.31%);
            // margin-left: 20px;
            // margin-right: 20px;
            transform: scale(1);
            border: 5px solid var(--color-light);
            text-align: center;
        }

        &-title {
            @include fluid-text(48, 24);
            font-family: var(--font-family-bold);
            font-weight: 700;
            line-height: 110%;
            text-transform: uppercase;
            color: var(--color-blue);
            margin-bottom: 250px;
        }

        &-text {
            @include fluid-text(15, 10);
            line-height: 110%;
            // opacity: .8;
            font-weight: 700;
            line-height: 110%;
            text-transform: uppercase;
            color: var(--color-blue);

        }

        &-button {
            text-align: center;
        }

        &-btn {
            padding: 60px 80px;
            text-align: center;
            font-family: var(--font-family);
            font-weight: 500;
            @include fluid-text(30, 18);
            text-transform: uppercase;
            color: var(--color-light);
            box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.25);
            background: rgba(255, 255, 255, 0.1);
            border-radius: 77px;
        }
    }

    .slick-active {

        @include mobile-above {
            &:not(.slick-center) .slider__item-content {
                background: var(--color-bg-item);
                background-image: url('../img/slider/circle-second.png');
                background-repeat: no-repeat;
                background-size: 50%;
                background-position: 100% 0;
            }

            &:not(.slick-center) .slider__item-title {
                color: var(--color-title-second);
            }

            &:not(.slick-center) .slider__item-text {
                color: var(--color-title-second);
            }

            
        }
    }

}
